.background{
	-fx-background-color: rgb(59, 59, 59);
}

.header{
	-fx-background-color: rgb(241, 234, 234);
}

.image-button{
    -fx-cursor: hand;
}

.image-button: hover{
    -fx-scale-x: 1.19;
    -fx-scale-y: 1.19;
}

.image-button: pressed{
    -fx-opacity: 0.78;
}

.tile{
	-fx-background-radius: 13px;
	-fx-background-color: rgba(19, 19, 19, 0.75)
}

.button-next{
    -fx-background-color: rgba(71, 6, 151);
	-fx-text-fill: white;
	-fx-border-radius: 13px;
    -fx-border-width: 1.5;
	-fx-background-radius: 13px;
}

.button-next: hover{
    -fx-border-color: #5B59C5;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius: 13px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 13px;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane > .corner {
     -fx-background-color: black;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .track{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}


.text-field-parent{
	-fx-background-radius: 13px;
	-fx-border-radius: 13px;
	-fx-border-width: 1.5;
	-fx-background-color: rgba(105, 96, 96, 0.75);
}

.text-field-parent: hover{
    -fx-border-color: #4B66F1;
}

.text-field{
	-fx-text-fill: white;
	-fx-focus-traversable: false;
	-fx-background-radius: 13px;
	-fx-background-color: transparent;
}

.task-tile{
    -fx-background-color: rgba(49, 49, 49, 0.41);
    -fx-background-radius: 13px;
    -fx-cursor: hand;
    -fx-border-radius: 13px;
    -fx-border-width: 1.5;
}

.task-tile: hover{
    -fx-border-color: #5B59C5;
}